/* From Start Code */
html{
  scroll-behavior: smooth;
}

/* From Start Code */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}

nav li{
  display:inline;
  padding-right:20px;
  line-height: 2.1;
}

nav a{
  color: #00274C;
  font-weight: bold;
  text-decoration: none; 
}

nav a.active{
  border-bottom: 2px solid #00274C;
}

nav{
  background-color: #FFCB05;
  padding-top: 25px; 
  padding-bottom: 25px; 
  padding-left: 25px; 
  /* padding-right: 25px;  */
  text-align: center;
}

nav a:hover {
    border-bottom: 2px solid #00274C;
}

nav a:focus {
    border: 2px dashed #00274C;
}

.skip a{
    position: absolute;
    top: -65px;

  /* From Starter Code */
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 25px;
}

*:focus {
    border: 5px dashed #00274C;
} 

.container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 60px;
     align-items: center;
     justify-items: start / end;
     max-height: 100%;
     max-width: 100%;
}

.header, .intro, .why, .start, .resource, .text_and_image {
     grid-column: 1 / -1;
}


/* HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #00274C;
}

.header .header_img, .header_title, .header_logo, .header_background{
  grid-column: 1 / -1;
  grid-row: 1;
}

.header_title {
  color: white;

  /* Author: Google
     Date: 2025
     Title of Code: Place title on top of image
     Type: AI-generated source code
     Availability: https://gemini.google.com/ */
  z-index: 2; 
}

.header_logo {
  width: 35px;
  height: auto;
  align-self: start;
  justify-self: end;
  padding-right: 15px;
  padding-top: 15px;

  /* Author: Google
     Date: 2025
     Title of Code: Place title on top of image
     Type: AI-generated source code
     Availability: https://gemini.google.com/ */
  z-index: 2; 
}

.header_img{
  z-index: 1; 
  filter: brightness(40%);
}  


/* Why Section */
.why li{
    /* padding-right: 10px;
    padding-left: 10px; */
    margin-left: 15px;
    margin-right: 15px;
}


/* Resouce Section */
.resource{
  border: 10px solid #00274C;
  border-left: 0px;
  border-right: 0px;
  background-color: #FFCB05;
  align-items: center;
  justify-items: center;
}

.resource-text-block {
  /* border: 10px solid #00274C;
  border-left: 0px;
  border-right: 0px; */
  /* background-color: #FFCB05; */

  padding: 30px 30px 15px 30px;
  text-align: center;
}

.resource-text-block li{
  text-align: left;
}


/* Text and Image Section -> For List in resume.html */
.text_and_image li{
  /* padding-right: 10px;
  padding-left: 10px; */
  margin-left: 15px;
  margin-right: 15px;
}


/* All Sections */

/* This is currently only used in networking.html */
.text-center{
    text-align: center;
    padding-bottom: 20px;
}

.relevant_img {
     grid-column: 1 / -1;
     /* max-height: 250px; */
     /* object-fit: cover; */
     /* width: 100%; */
     height: 100%;
}

.container img {
     object-fit: cover;
     width: 100%;
     height: 100%;
}

.container iframe {
     object-fit: cover;
     width: 100%;
     /* height: 100%; */
}

/* The UMSI logo in the footer */
footer img{
  width: 60px;
  height: auto;
  padding-bottom: 10px;
}

h1 {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 10px;
  line-height: 1.2;

  font-size: 50px;
  text-align: center;
}

h2 {
  padding-right: 10px;
  padding-left: 10px;
  
  margin-bottom: 15px;
  line-height: 1.2;

  color: #00274C;
  font-size: 32px;
  text-align: center;
}

p {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}

body{
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

ul{
  margin-left: 15px;
  margin-right: 15px;
}

li {
  padding-bottom: 15px;
}

ol{
  padding-right: 20px;
  padding-left: 20px;
}

/* This ensures that there is no extra space below a list */
.no_bottom_space{
  padding-bottom: 0px;
}

/* This ensures that there is some space between the last section and the footer */
.bottom_space {
    margin-bottom: 60px;
}

footer{
  background-color: #ddd;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}