/* From Start Code */
html{
  scroll-behavior: smooth;
}

/* From Start Code */
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}

nav li{
  display:inline;
  padding-right:20px;
  line-height: 2.1;
}

nav a{
  color: white;
  font-weight: medium;
  text-decoration: none; 
}

nav a.active{
  color: white;
  padding-bottom: 3px;
  border-bottom: 2px solid #FFCB05;
  font-weight: bold;
}

nav{
  background-color: #00274C;
  padding-top: 30px; 
  padding-bottom: 25px; 
  padding-left: 25px; 
  /* padding-right: 25px;  */
  text-align: center;
}

nav .header_logo{
  display: none;
}

nav a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

nav a:focus {
    border: 3px dashed white;
    padding: 2px;
}

.skip a{
  position: absolute;
  top: -65px;

  /* From Starter Code */
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 3;
}

.skip a:focus {
    position: absolute;
    top: 25px;
}

*:focus {
    border: 5px dashed #00274C;
} 

main a{  
  font-weight: bold;
  /* text-decoration: none;  */
}

main a:visited{  
    color: #0000ee;
}

main a:hover{  
    color: #00274C;
    /* border-bottom: 1.5px solid #00274C; */
    /* font-weight: bold; */
}


.container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 60px;
     align-items: center;
     /* justify-items: center; */
     max-height: 100%;
     max-width: 100%;
}

.header, .intro, .why, .start, .resource, .text_and_image {
     grid-column: 1 / -1;
}


/* HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #00274C;
}

.header .header_img, .header_title, .header_logo, .header_background{
  grid-column: 1 / -1;
  grid-row: 1;
}

.header_title {
  color: white;

  /* Author: Google
     Date: 2025
     Title of Code: Place title on top of image
     Type: AI-generated source code
     Availability: https://gemini.google.com/ */
  z-index: 2; 
}

.header .header_logo {
  width: 35px;
  height: auto;
  align-self: start;
  justify-self: end;
  padding-right: 15px;
  padding-top: 15px;

  /* Author: Google
     Date: 2025
     Title of Code: Place title on top of image
     Type: AI-generated source code
     Availability: https://gemini.google.com/ */
  z-index: 2; 
}

.header_img{
  z-index: 1; 
  filter: brightness(40%);
}  

/* The next 2 sections help enlarge the header image
    while keeping the max height 750px.
  This ensures that the header image will not cover 
    the whole screen. */
.header_img{
  max-height: 750px;
  width: 100%;
}

.header img{
  max-height: 750px;
  background-size: contain;
}


/* Why Section */
.why li{
    /* padding-right: 10px;
    padding-left: 10px; */
    margin-left: 15px;
    margin-right: 15px;
}


/* Resouce Section */
.resource{
  border: 10px solid #00274C;
  border-left: 0px;
  border-right: 0px;
  background-color: #FFCB05;
  align-items: center;
  justify-items: center;
}

.resource-text-block {
  /* border: 10px solid #00274C;
  border-left: 0px;
  border-right: 0px; */
  /* background-color: #FFCB05; */

  padding: 30px 30px 15px 30px;
  text-align: center;
}

.resource-text-block li{
  text-align: left;
}


/* Text and Image Section -> For List in resume.html */
.text_and_image li{
  /* padding-right: 10px;
  padding-left: 10px; */
  margin-left: 15px;
  margin-right: 15px;
}


/* All Sections */

/* This is currently only used in networking.html */
.text-center{
    text-align: center;
    padding-bottom: 20px;
}

.relevant_img {
     grid-column: 1 / -1;
     /* max-height: 250px; */
     /* object-fit: cover; */
     /* width: 100%; */
     height: 100%;
}

.container img {
     object-fit: cover;
     width: 100%;
     height: 100%;
}

.container iframe {
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
}

/* The UMSI logo in the footer */
footer img{
  width: 200px;
  height: auto;
  padding-bottom: 10px;
}

h1 {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 10px;
  line-height: 1.2;

  font-size: 50px;
  text-align: center;
}

h2 {
  padding-right: 10px;
  padding-left: 10px;
  
  margin-bottom: 15px;
  line-height: 1.2;

  color: #00274C;
  font-size: 32px;
  text-align: center;
}

p {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}

body{
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

ul{
  margin-left: 15px;
  margin-right: 15px;
}

li {
  padding-bottom: 15px;
}

ol{
  padding-right: 20px;
  padding-left: 20px;
}

/* This ensures that there is no extra space below a list */
.no_bottom_space{
  padding-bottom: 0px;
}

/* This ensures that there is some space between the last section and the footer */
.bottom_space {
    margin-bottom: 60px;
}

/* Footer Section */
footer{
  background-color: #f2f2f2;
  color: black;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;

  border-top: 1px solid darkgray;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    max-height: 100%;
    max-width: 100%;
}

footer img, p{
  grid-column: 1 / -1;
  padding-bottom: 20px;
}

footer .address{
  text-align: left;
    line-height: 150%;
}

footer .first_line{
  font-weight: bold;
  line-height: 150%;

}

footer .copyright{
  color: #454545;
  border-top: 1px solid darkgray;
  padding-top: 50px;

  width: 95%;
}

footer a:visited{  
    color: #0000ee;
}

footer a:hover{  
    color: #00274C;
    /* border-bottom: 1.5px solid #00274C; */
    /* font-weight: bold; */
}
/* END - Footer Section */


/* Error Page */
.error{
 grid-column: 1 / -1;
 text-align: center;
}

.button,.button:visited{  
  color: white;
  background-color: #00274C;
  
  padding: 15px 60px;
  border-radius: 10px; 
  
  text-decoration: none;
  font-size: 20px;
}

.button:hover{  
  color: #FFCB05;
}

.button:focus{  
  /* color: #FFCB05; */
  border: 5px dashed #FFCB05;
}
/* END - Error Page */


/* Contact Form */
.form_container {
  /* The body font size */
  font-size: 18px;

  border-radius: 5px;
  background-color: #f2f2f2;

  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

input[type=text], input[type=email], textarea {
  font-size: 18px;

  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;

  box-sizing: border-box;
  resize: vertical;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
  /* border: 5px dashed #00274C; */
  border: 1px solid #00274C;
}

input[type=submit] {
  font-size: 18px; 

  background-color: #00274C;
  color: white;

  padding: 12px 20px;
  border: none;
  border-radius: 4px;

  /* Center the button */
  display: block;
  margin: 0 auto; 
}

input[type=submit]:hover {
  color: #FFCB05;
}

input[type=submit]:focus{
  color: #FFCB05;

  /* Show a border when hovering over */
  outline: 5px dashed #00274C;

    /* outline: none; */
}

.req {
  color: #9E1800;
}
/* END - Contact Form */



@media all and (min-width: 850px) {

/* Navigation Section */
.nav_container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);  
    justify-items: right;  
    align-items: center;

    padding-left: 5px;
}

.nav_container ul{
  grid-column: 1 / -2;
  grid-row: 1 / 1;

  margin-right: 0;
}

nav .last_option{
  padding-right: 10px;
}

nav .header_logo{
  /* Change it from none to inline to make it appear */
  display: inline; 

  grid-column: 2 / 2;
  grid-row: 1 / 1;
  justify-self: left;
}

nav .header_logo img{
  height: 48px;
  width: auto;
}
/* END - Navigation Section */


.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);  
    row-gap: 100px;
}

.intro, .why, .start, .resource, .text_and_image {
  grid-column: 2 / -2;
  border-bottom: 1px solid #00274C;
  padding-bottom: 100px;
}

.header .header_logo {
  display: none;
}


/* Restyle All Text */
h1 {
  font-size: 80px;
  margin-left: 200px;
  margin-right: 200px;
}

h2{
  font-size: 46px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

p{
  font-size: 22px;
  line-height: 30px;
  padding-left: 0;
  padding-right: 0;
}

body{
  font-size: 22px;
  line-height: 30px;
}
/* END - All Text */


/* Restyle the Resource Section */
.resource{
  /* Clear the border from mobile view */
  border: none;

  border-bottom: 1px solid #00274C;
  background-color: white;
  justify-items: start;
  padding-left: 0;
}

.resource-text-block {
  padding: 0;
}

.resource li{
  margin-left: 15px;
}

.resource ul{
  margin-right: 0;
}
/* END - Resource Section */


ol{
  padding-right: 0;
}

.text-center{
  text-align: left;
}


/* Make Images and Videos */
.text_and_image img, .intro img, iframe{
    max-height: 500px;
    height: 500px;
    width: 100%;

    border-radius: 10px; 
}

.last_section{
  border: none;
  padding-bottom: 50px;
}

/* Footer */
.footer_container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 5px;
    align-items: center;

}

.footer_container img{
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  justify-self: start;
  
  width: 100%;
  height: auto;

  margin-bottom: 50px;
  padding-bottom: 0;
}

footer .first_line{
  grid-column: 5 / -2;
  grid-row: 1 / 1;
  justify-self: start;
  
  font-size: 110%;
  font-weight: bold;
  text-align: left;
  line-height: 130%;
  margin-top: 10px;
  padding-left: 25px;
}

footer .address{
  grid-column: 5 / -2;
  grid-row: 2 / 2;
  justify-self: start;

  text-align: left;
  line-height: 130%;
  padding-bottom: 0;
  padding-left: 25px;
  margin-bottom: 50px;
}

footer .copyright{
  width: 76%;
}
/* END - Footer */


/* Error Page */
.error{
  grid-column: 2 / -2;
  padding-bottom: 130px; 
}


/* Contact Form */
.form_container {
  /* The body font size */
  font-size: 22px;

  margin-left: 0;
  margin-right: 0;
}

input[type=submit] {
  font-size: 22px; 
}
/* END - Contact Form */


}